		body {background-image: url('Imagens/nickfury.jpg');
		      background-repeat: no-repeat;
		      background-position: auto;
		      background-size: 100% ;
			  margin-right: 5%;
			  margin-left: 5%;
			 font-family: sans-serif;}

		h1,h2{color: gold;
			text-align: center;}

		h3,h4{color: black;}

		 div {color: red; text-align: center;}
}
		